<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>scheda-attiva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">scheda-attiva</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-popover trigger="Tabata" triggerAction="hover">
    <ng-template>
      <ion-content class="ion-padding">
        Tabata è un tipo di allenamento ad alta intensità che prevede brevi periodi di esercizio intenso seguiti da
        brevi periodi di riposo. Solitamente, un intervallo di Tabata consiste in 20 secondi di esercizio ad alta
        intensità seguiti da 10 secondi di riposo, per un totale di 8 cicli. Questo tipo di allenamento è efficace per
        migliorare la resistenza cardiovascolare e bruciare calorie.
      </ion-content>
    </ng-template>
  </ion-popover>
</ion-content>
