<ion-text class="login-box">
  <form>
    <div class="text-center">
      <div class="user-box">
        <input type="text" name="" required>
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required>
        <label>Password</label>
      </div>
      <a href="home">
        SEND
        <span></span>
      </a>
    </div>
  </form>
  <ion-text color="medium">
    Not registered yet? <a href="signup">Click here!</a>
  </ion-text>
</ion-text>
