<ion-text class="login-box">
  <form [formGroup]="form">
    <div class="text-center">
      <div class="user-box">
        <input type="text" name="" formControlName="email" required>
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" name="" formControlName="password" required>
        <label>Password</label>
      </div>
      <a (click)="login()">
        SEND
        <span></span>
      </a>
    </div>
  </form>
  <ion-text color="medium">
    Not registered yet? <a href="signup">Click here!</a>
  </ion-text>
</ion-text>
