<ion-header [translucent]="true" xmlns="http://www.w3.org/1999/html">
  <ion-toolbar>
    <ion-title>Genera_scheda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Genera_scheda</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <!--    i campi selezionati come default (vuoti) non devono essere presi dalla query, altrimenti da errore e non restituisce nulla-->
    <ion-item>
      <ion-textarea label="Nome esercizio" placeholder="Squat" [clearOnEdit]="true"
                    #nomeEsercizioTextarea></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-select aria-label="Tipo-esercizio" interface="popover" placeholder="Seleziona tipologia"
                  #tipoEsercizioSelect>
        <ion-select-option value="">Default</ion-select-option>
        <ion-select-option value="cardio">Cardio</ion-select-option>
        <ion-select-option value="olympic_weightlifting">Olympic Weightlifting</ion-select-option>
        <ion-select-option value="plyometrics">Plyometrics</ion-select-option>
        <ion-select-option value="powerlifting">Powerlifting</ion-select-option>
        <ion-select-option value="strength">Strength</ion-select-option>
        <ion-select-option value="stretching">Stretching</ion-select-option>
        <ion-select-option value="strongman">Strongman</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select aria-label="Muscolo" interface="popover" placeholder="Seleziona Muscolo" #muscoloSelect>
        <ion-select-option value="">Default</ion-select-option>
        <ion-select-option value="abdominals">Abdominals</ion-select-option>
        <ion-select-option value="abductors">Abductors</ion-select-option>
        <ion-select-option value="adductors">Adductors</ion-select-option>
        <ion-select-option value="biceps">Biceps</ion-select-option>
        <ion-select-option value="calves">Calves</ion-select-option>
        <ion-select-option value="chest">Chest</ion-select-option>
        <ion-select-option value="forearms">Forearms</ion-select-option>
        <ion-select-option value="glutes">Glutes</ion-select-option>
        <ion-select-option value="hamstrings">Hamstrings</ion-select-option>
        <ion-select-option value="lats">Lats</ion-select-option>
        <ion-select-option value="lower_back">Lower Back</ion-select-option>
        <ion-select-option value="middle_back">Middle Back</ion-select-option>
        <ion-select-option value="neck">Neck</ion-select-option>
        <ion-select-option value="quadriceps">Quadriceps</ion-select-option>
        <ion-select-option value="traps">Traps</ion-select-option>
        <ion-select-option value="triceps">Triceps</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select aria-label="Difficoltà" interface="popover" placeholder="Seleziona Difficoltà" #difficoltaSelect>
        <ion-select-option value="">Default</ion-select-option>
        <ion-select-option value="beginner">Beginner</ion-select-option>
        <ion-select-option value="intermediate">Intermediate</ion-select-option>
        <ion-select-option value="expert">Expert</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <br>
  <div class="button-container ion-color-danger">
    <ion-button (click)="getAndPushApi()">Cerca Esercizi</ion-button>
    <ion-button [disabled]="!isChecked" class="ion-text-end">Compila Scheda</ion-button>
  </div>
  <ion-card *ngFor="let esercizio of eserciziAPI">
    <ion-card-header>
      <ion-card-title>{{ esercizio.name }}</ion-card-title>
      <ion-card-subtitle class="muscolo">{{ esercizio.muscle }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-checkbox color="warning"  (ionChange)="cambiaCheck(esercizio)">Aggiungi alla scheda</ion-checkbox><br><br>
      <div class="istruzioni">{{ esercizio.instructions }}</div><br>
      <div class="difficoltà">{{ esercizio.difficulty }}</div>
      <div class="equipaggiamento">{{ esercizio.equipment }}</div>
      <div class="tipo">{{ esercizio.type }}</div>
    </ion-card-content>
  </ion-card>


  <!-- X-Api-Key: A0F5n9W16NwqpjnpV33SPA==y33iR3fpHu1TgPWm-->


</ion-content>
