ion-card {
  display: block;
  margin-bottom: 10px;
  overflow-y: auto;
  max-width: 500px;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  background: var(--ion-color-medium-shade);
}

.button-container ion-button.ion-text-end {
  margin-left: auto;
}

div::first-letter{
  text-transform: uppercase;
}

ion-card-subtitle::first-letter{
  text-transform: uppercase;
}

ion-card-subtitle{
  font-size: 1.2em;
}
