<ion-text class="signup-box">
  <form>
    <div class="text-center">
      <div class="user-box">
        <input type="text" name="" required>
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required>
        <label>Password</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="">
        <label>Confirm Password</label>
      </div>
      <a href="home">
        SEND
        <span></span>
      </a>
    </div>
  </form>
</ion-text>
