<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1> - Hello there! - {{ username }}</h1>
    <br>
  <div>
    Per tornare nella home, basta <strong>cliccare sul nome dell'app in alto a sinistra.</strong>
    Nel menu troverai una serie di tasti che ti porteranno alle varie funzionalità ed un tasto per poter fare la registrazione e login.
  </div></div>
</ion-content>
